.container{
    margin-top: 8%;
    
}
.inner{
    overflow: hidden;
}
.inner img{
    transition: all 0.5s ease-in;
}
.inner:hover img{
    transform :scale= (1.5);
}
body{
    background-color: ivory;
}
.footer-copyright{
    background-color: green;
}